body {
    background-color: #f7f7f7;
}

.jumbotron {
  background-image:url('../img/information-security.jpg');
  height:500px;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

.jumbotron .container {
  position:relative;
  top:100px;
}

.jumbotron h1 {
  color:#fff;
  font-size:48px;
  font-family:'Shift', sans-serif;
  font-weight:bold;
}

.jumbotron span {
  background-color:rgba(0,0,0,0.5);
}

.jumbotron p {
  font-size:20px;
  color:#fff;
}

.learn-more {
  background-color:#f7f7f7;
}

.learn-more h3 {
  font-family:'Shift', sans-serif;
  font-size:18px;
  font-weight:bold;
}

.learn-more a {
  color:#00b0ff;
}
